# db_uri is in the format: "mysql2://username:password@hostname/database"
db_uri: "mysql2://username:password@localhost/database"

consumer_key: "twitter_consumer_key"
consumer_secret: "twitter_consumer_secret"