<% if @error %>
	<div class="warning">
		<p><%= @error %></p>
	</div>
<% end %>

<form method="post">
	<table>
		<tr>
			<th>Twitter username:</th>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<th>Include RTs:</th>
			<td><input type="checkbox" name="opt_rt" checked></td>
		</tr>
		<tr>
			<th>Include replies:</th>
			<td><input type="checkbox" name="opt_reply" disabled> (work in progress!)</td>
		</tr>
		<tr>
			<th>Filter out friends:</th>
			<td><input type="checkbox" name="opt_filter_friends" checked></td>
		</tr>
	</table>
	<button type="submit">Submit</button>
</form>