<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>OAPI: Shields Up</title>
    <meta name="viewport" content="initial-scale=1" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/layout.css" media="all" type="text/css" />
</head>
<body>
    <%= yield %>
</body>
</html>