body {
    max-width: 800px; /* keep line at a nice length */
    margin: auto; /* that will center horizontally the body */
    background-color: #f1ecdf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

h2 {
    margin: 25px 0 0;
    /* Header mark the beginning of a new topic, so we insert a margin
       above to insist on the new content. Basic design tips learned from
       Robin Williams books. */
}

p {
    margin: 0 0 10px;
    /* By default, paragraph are far away from other block. This will keep
       them near thing up but not so much from thing down. */
}

table {
    margin: 0;
    border: 0;
    padding: 10px;
}

.warning {
    /* Call me a web hipster but using class is cleaner than font and ... */
    margin: 20px 40px;
    padding: 0 10px;
    background-color: #ffbcdf;
    border: 3px double #990044;
    border-radius: 10px;
}
.warning h3 {
        margin: 20px 0 10px;
}